* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #160659, #7f64ef);
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  row-gap: 3rem;
}

.heading {
  color: #fff;
  font-size: calc(4px * 2vw);
}


.loading {
  margin: 5rem auto 0;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: transparent;
  border: 10px solid #fff;
  border-bottom-color: transparent;
  border-top-color: transparent;
  /* border-bottom-color: transparent; */
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-color: #ff0;
    border-bottom-color: transparent ;
  }
  35% {
    transform: rotate(120deg);
    border-color: #ff03d9;
    border-bottom-color: transparent ;
  }
  70% {
    transform: rotate(240deg);
    border-color: #00ff0d;
    border-bottom-color: transparent ;
  }
  100% {
    transform: rotate(360deg);
    border-color: #00eeff;
    border-bottom-color: transparent ;
  }
}